/* Styles for the page-search component. */

.search-filter-box {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.search-filter-item {
  margin: 3px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  padding: 0 0.5em;
  font-size: 75%;
}

.search-filter-item:hover {
  border-color: #0ae;
  filter: brightness(1.15);
}

.search-filter-item:active {
  border-color: #08c;
  filter: brightness(0.85);
}

.search-filter-item > label {
  cursor: pointer;
}

.search-filter-item--type-iron {
  background-color: var(--tier-bgcolor-iron);
  color: var(--tier-text-color-iron);
}

.search-filter-item--type-bronze {
  background-color: var(--tier-bgcolor-bronze);
  color: var(--tier-text-color-bronze);
}

.search-filter-item--type-silver {
  background-color: var(--tier-bgcolor-silver);
  color: var(--tier-text-color-silver);
}

.search-filter-item--type-gold {
  background-color: var(--tier-bgcolor-gold);
  color: var(--tier-text-color-gold);
}

.search-filter-item--type-platinum {
  background-color: var(--tier-bgcolor-platinum);
  color: var(--tier-text-color-platinum);
}

.search-filter-item--type-diamond {
  background-color: var(--tier-bgcolor-diamond);
  color: var(--tier-text-color-diamond);
}

.search-filter-item--type-master {
  background-color: var(--tier-bgcolor-master);
  color: var(--tier-text-color-master);
}

.search-filter-item--type-grandmaster {
  background-color: var(--tier-bgcolor-grandmaster);
  color: var(--tier-text-color-grandmaster);
}

.search-filter-item--type-challenger {
  background-color: var(--tier-bgcolor-challenger);
  color: var(--tier-text-color-challenger);
}

.search-fiter-item__icon {
  width: 1em;
}

.search-filter-item__checkbox {
  display: none;
}
