/* Styles for the page-guide component. */

.page-guide {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  padding-bottom: 1.5em;
  margin: 20px;
  opacity: 70%;
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
}

.page-guide__header {
  display: flex;
}

.page-guide__close-button {
  align-self: flex-start;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: auto; /* Push the button to the right end */
}

.page-guide__close-button:hover {
  background-color: #fff;
  border-color: black;
}

.page-guide__author {
  font-style: italic;
  font-weight: bold;
}

.page-guide__body {
  margin: 1em 0;
}

.page-guide__section-details {
  background-color: #ccc;
  border: 1px solid #999;
  padding: 0.5rem;
}

.page-guide__stats {
  display: flex;
}

.page-guide__stats-item {
  flex-grow: 0;
  background-color: rgb(224, 218, 127);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.page-guide__stats-item:not(:first-child) {
  margin-left: 0.5rem;
}

.page-guide__section-expand-button {
  background-color: #a18e1f;
  border-color: #c98225;
  color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  font-weight: 900;
  font-size: 0.6rem;
}

.page-guide__title {
  color: rgb(126, 117, 42);
}

.page-guide__video {
  border-width: 5px;
  border-color: rgb(245, 222, 14);
}
