/* #app {
  background-color: aqua;
}
#body {
  background-color: bisque;
}
#information {
  background-color: cornflowerblue;
}
#author {
  background-color: darkorange;
}
#guidebox {
  background-color: greenyellow;
}
#guidetitle {
  background-color: orchid;
} */
