<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Noto+Sans+KR"
    />
    <!-- Development version; use all-min.css for production -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css"
    />
    <link rel="stylesheet" href="./css/page-guide.css" />
    <link rel="stylesheet" href="./css/page-search.css" />
    <link rel="stylesheet" href="./css/search-results.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-header__title">RiftGuide</h1>
    </header>
    <main id="app" class="site-main">
      <keep-alive include="page-search">
        <page-search
          v-if="currentPage === 'search'"
          :guides="guides"
          @guide-open="openPageGuide($event)"
        ></page-search>
        <page-guide
          v-if="currentPage === 'guide'"
          :guide="currentGuide"
          @guide-close="openPageSearch"
        ></page-guide>
      </keep-alive>
    </main>

    <template id="template-page-guide">
      <div class="page-guide">
        <header class="page-guide__header">
          <h2 class="page-guide__title">{{guide.title}}</h2>
          <button
            class="page-guide__close-button"
            title="Close guide"
            @click="$emit('guide-close')"
          >
            <i class="fas fa-arrow-circle-left"></i>
          </button>
        </header>
        <address class="page-guide__author">Author: {{guide.author}}</address>
        <div class="page-guide__body">
          <section
            v-for="(sentence, index) in guide.content"
            class="page-guide__section"
          >
            <h3 class="page-guide__section-title">
              {{sentence.summary}}
              <button
                v-if="sentence.type !== 'empty'"
                v-on:click="toggleSection(index)"
                class="page-guide__section-expand-button"
              >
                {{ sentence.type === 'text' ? 'Details' : 'Video' }}
              </button>
            </h3>
            <div v-show="hideOrShow[index]" class="page-guide__section-details">
              <div v-if="sentence.type === 'text'">
                {{sentence.content}}
              </div>
              <div v-if="sentence.type === 'video'">
                <iframe
                  class="page-guide__video"
                  width="560"
                  height="315"
                  :src="sentence.videoUrl"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </section>
        </div>
        <div class="page-guide__stats">
          <div class="page-guide__stats-item">
            Posted: {{ dateToString(guide.createdAt) }}
          </div>
          <div class="page-guide__stats-item">
            Views: {{ guide.views }}
          </div>
          <div class="page-guide__stats-item">
            Upvotes: {{ guide.upvotes }}
          </div>
          <div class="page-guide__stats-item">
            Downvotes: {{ guide.downvotes }}
          </div>
        </div>
      </div>
    </template>

    <template id="template-page-search">
      <div class="page-search">
        <header class="search-form">
          <div class="search-form__search-box">
            <input
              v-model="searchText"
              class="search-form__search-input"
              placeholder="Enter text to search"
              type="text"
            />
            <button class="search-form__search-button">Search</button>
          </div>
          <div class="search-filter-box">
            <div
              v-for="(filterData, filterType)  in tierFilterTypes"
              :key="filterType"
              class="search-filter-item"
              :class="'search-filter-item--type-' + filterType"
            >
              <label>
                <input
                  v-model="activeTierFilters"
                  class="search-filter-item__checkbox"
                  type="checkbox"
                  :value="filterType"
                />
                <i
                  class="fas search-fiter-item__icon"
                  :class="activeTierFilters.includes(filterType) ? 'fa-check-square' : 'fa-square'"
                ></i>
                {{ filterData.name }}
              </label>
            </div>
          </div>
        </header>
        <search-results
          :value="filteredSearchResults"
          :search-text="searchText"
          :is-search-text-too-short="isSearchTextTooShort"
          @guide-open="$emit('guide-open', ...arguments)"
        ></search-results>
      </div>
    </template>

    <template id="template-search-results">
      <div class="search-results">
        <div v-if="!searchText" class="search-results__info-message">
          No search text entered
        </div>
        <div
          v-else-if="isSearchTextTooShort"
          class="search-results__info-message"
        >
          The search text is too short--please enter more! (You entered
          <code>"{{ searchText }}"</code>)
        </div>
        <div
          v-else-if="value.length === 0"
          class="search-results__info-message"
        >
          No match for <code>"{{ searchText }}"</code>
        </div>
        <template v-else>
          <div v-for="item in value" :key="item.id" class="search-result-item">
            <div class="search-result-item__main">
              <div class="search-result-item__title-box">
                <div class="search-result-item__title">
                  {{ item.title }}
                </div>
                <div
                  class="search-result-item__tier"
                  :class="'search-result-item__tier--type-' + item.tier"
                >
                  {{ item.tierName }}
                </div>
                <button
                  class="search-result-item__open-button"
                  title="View guide"
                  @click="$emit('guide-open', item.id)"
                >
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
              <div class="search-result-item__stats">
                <div class="search-result-item__stats-entry">
                  Posted: {{ dateToString(item.createdAtDate) }}
                </div>
                <div class="search-result-item__stats-entry">
                  Views: {{ item.views }}
                </div>
                <div class="search-result-item__stats-entry">
                  Upvotes: {{ item.upvotes }}
                </div>
              </div>
            </div>
            <div class="search-result-item__content-type-bar">
              <div
                v-for="contentType in item.contentTypes"
                class="search-result-item__content-type-label"
              >
                {{ contentType }}
              </div>
            </div>
          </div>
        </template>
      </div>
    </template>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Development version with all features -->
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
    <script src="./js/data.js"></script>
    <!-- Mixin scripts must come before component scripts -->
    <script src="./js/mixin-date.js"></script>
    <!-- Component scripts must come before the main app script -->
    <script src="./js/page-guide.js"></script>
    <script src="./js/page-search.js"></script>
    <script src="./js/search-results.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
